  /* Importando Fontes */
  @font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }

  @font-face {
    font-family: 'Titillium-Web-Black';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
  }

  @font-face {
    font-family: 'Titillium-Web-Bold';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf)
  }

  @font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
  }

  /* RESET CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #1B1426;
    color: white;
  }

  a:hover {
    background-color: #F9AA01;
    color: black;
  }

  /* Classes genericas */
  .layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  /* -----Mobile First----- */

  .alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* -----TABLET----- */
  @media screen and (min-width: 768px) {}