 /* RESET CSS */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    color: white;
 }

 /* Mobile First */

 .layout-grid {
   width: 90%;
   height: 100%;
   margin: 0 auto;
   border: 1px solid aqua;
 }

 .alinhamento-between-center{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 /* HEADER */
 header {
    background-color: #1B1426;
    height: 60px;
 }



 header .header-top {
   display: none;
 }

header .header-bottom {
   height: 60px;
}

 header .logo {
   width: 86px;
 }

 header nav {
   position: fixed;
   top: 60px;
   left: 0;
   height: 100vh;
   width: 80vw;
   background-color: red;

   display: flex;
   flex-direction: column;
 }

 header .menu-usuarios {
   display: none;
 }