  /* Importando Fontes */
  @font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
  }

  @font-face {
    font-family: 'Titillium-Web-Black';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
  }

@font-face {
  font-family: 'Titillium-Web-Bold';
  src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

  /* RESET CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: white;
  }

  /* Classes genericas */
  .layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  /* Menu hamburguer aparece */
  .mostrar-menu {
    left: 0 !important;
  }

  /* Menu usuarios aparece */
  .mostrar-menu-2 {
    right: 0 !important;
  }

  /* Mobile First */

  .alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* HEADER */
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    background-color: #1B1426;
    height: 60px;

    margin-bottom: 60px;
  }



  header .header-top {
    display: none;
  }

  header .header-bottom {
    height: 60px;
  }

  header .logo {
    width: 86px;
  }

  header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;

    height: calc(100vh - 60px);
    /* 100% da altura da viewport, menos 60px do top */
    width: 80vw;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    transition: left .4s;
  }

  header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;

    border-bottom: 2px solid #F9AA01;
    color: white;

    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
  }

  header .header-bottom nav a:last-of-type {
    border-bottom: none;
  }

  header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    gap: 20px;

    text-decoration: none;
  }

  /* menu-usuarios */
  header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -66px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    width: 66px;
    height: 170px;

    transition: right 0.4s;
  }

  main .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 60px;

    padding-top: 20px;
    padding-bottom: 40px;

    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1\ 1.png);
    background-repeat: no repeat;
    background-size: cover;

    width: 100%;
    height: 606px;
  }

  main .banner h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 40px;
    text-shadow: 0 0 7px #FF0404;
  }

  main .banner a {
    font-family: 'Titillium-Web-Bold';
    font-size: 24px;

    width: 203px;
    height: 40px;

    text-decoration: none;
    text-align: center;

    color: black;
    background-color: #F9AA01;
    border-radius: 8px;
  }