@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Titillium-Web-Black';
    src: url(../../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: 'Titillium-Web-Bold';
    src: url(../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

a:hover {
    background-color: #F9AA01;
    color: black;
}

/* Classes genericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Menu hamburguer aparece */
.mostrar-menu {
    left: 0 !important;
}

/* Menu usuarios aparece */
.mostrar-menu-2 {
    right: 0 !important;
}

/* -----Mobile First----- */

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    background-color: #1B1426;
    height: 60px;
}



header .header-top {
    display: none;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;

    height: calc(100vh - 60px);
    /* 100% da altura da viewport, menos 60px do top */
    width: 80vw;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    transition: left .4s;
}

header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;

    border-bottom: 2px solid #F9AA01;
    color: white;

    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    gap: 20px;

    text-decoration: none;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -66px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    width: 66px;
    height: 170px;

    transition: right 0.4s;
}

/* MAIN */
main {
    margin-top: 60px;
    background-image: url(../../assets/images/Banner_cadastro_de_Equipe-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

main .cadastro {
    margin-top: 50px;
    width: 335px;
    height: 429px;
    border-radius: 8px;
    background-image: linear-gradient(rgba(27, 20, 38), rgba(60, 3, 65, .4));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .cadastro h1 {
    margin-top: 20px;
    font-family: 'Titillium-Web-Black';
    border-bottom: #F9AA01 2px solid;
}

main .cadastro form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main .cadastro .linha {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    width: 273px;
    height: 43px;
    border-radius: 8px;
    padding-left: 10px;
    backdrop-filter: blur(3px);
}

main .cadastro .linha input {
    width: 273px;
    height: 43px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}

main .cadastro .linha input::placeholder {
    color: white;
}

main .cadastro .input-arquivo {
    display: flex;
    justify-content: center;
}

main .cadastro button {
    font-family: 'Titillium-Web-Bold';
    font-size: 24px;
    width: 277px;
    height: 43px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #F9AA01;
}

main .tabela-equipes {
    width: 337px;
    height: 374px;
}

main table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

main table thead {
    border-bottom: #F9AA01 2px solid;
}

main table th {
    font-family: 'Titillium-Web-Black';
    font-size: 20px;
    text-transform: uppercase;
    color: #F9AA01;
    padding-left: 40px;
}

main table tbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main table tbody tr {
    height: 70px;
    position: relative;
    z-index: 0;
    background-image: linear-gradient(rgba(27, 20, 38, .6), rgba(60, 3, 65, .4));
    border-radius: 8px;
    display: flex;
    align-items: center;
}

main table tbody tr::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

main table tbody td {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium-Web-Black';
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 33px;
    border-right: #F9AA01 3px solid;
}

main table tbody td:last-of-type {
    border-right: none;
}

/* FOOTER */
footer {
    background-image: url(../../assets/images/backgroung_footer-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1529px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo-footer {
    width: 110px;
    height: 34px;
}

footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .info p {
    font-family: 'Quicksand';
    font-size: 14px;
    width: 333px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .midias-sociais-footer {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer .midias-sociais-footer a {
    text-decoration: none;
}

footer .links-uteis {
    width: 345px;
    height: 193px;
    margin-bottom: 60px;
    /* border: #F9AA01 3px solid; */
}

footer .links-uteis h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 148px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 30px;
}

footer .links-uteis span {
    color: #F9AA01;
    font-weight: bold;
}

footer .links-uteis a {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

footer .local {
    height: 272px;
    margin-bottom: 60px;
}

footer .local h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 117px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 10px;
}

footer .local h3 {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    color: #F9AA01;
}

footer .local p {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    padding-bottom: 20px;
}

footer .newsletter {
    margin-bottom: 50px;
}

footer .newsletter h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 140px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 30px;
}

footer form input {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: transparent;
    border-radius: 8px;
    width: 333px;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

footer form input::placeholder {
    color: white;
}

.linha {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
    border-radius: 8px;
}

footer form button {
    font-family: 'Titillium-Web-Bold';
    font-size: 24px;
    background-color: #F9AA01;
    border-radius: 8px;
    width: 333px;
    height: 40px;
}

footer .botao-topo {
    position: absolute;
    right: 0;
    top: -40px;

}

footer .copyrigth {
    position: relative;
    font-family: 'Quicksand';
    font-size: 14px;
    width: 333px;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    text-align: center;
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    /* HEADER */
    header {
        position: static;
        height: 140px;
        width: 100%;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-top .midias-sociais {
        display: flex;
        justify-content: space-between;
        width: 140px;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
    }

    header .header-top .contatos>a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;
    }

    /* Elementos escondidos */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }

    header .header-bottom {
        height: 90px;
    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .header-bottom nav>a {
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 140px;
        background-color: transparent;
        background-image: none;
    }

    /* MAIN */
    main {
        margin-top: 0;
        background-image: url(../../assets/images/banner_cadastro_de_equipe.png);
        height: 1372px;
    }

    main .cadastro {
        width: 800px;
        height: 530px;
    }

    main .cadastro .linha {
        width: 565px;
    }

    /* MAIN */
    main {
        margin-top: 0;
        background-image: url(../../assets/images/banner_cadastro_de_equipe.png);
        height: 1372px;
    }

    main .cadastro {
        width: 800px;
        height: 530px;
    }

    main .cadastro h1 {
        width: auto;
    }

    main .cadastro .linha {
        width: 565px;
    }

    main .tabela-equipes {
        width: 800px;
        height: 700px;
    }

    main .tabela-equipes th {
        padding-right: 100px;
        padding-left: 50px;
    }

    main .tabela-equipes tr {
        height: 125px;
    }

    /* FOOTER */
    footer {
        background-image: url(../../assets/images/backgroung_footer.png);
        height: 528px;
        display: flex;
        align-items: center;
    }

    footer .footer-flex {
        position: relative;
        width: 100%;
    }

    footer .footer-flex .info {
        position: absolute;
        top: 0;
        left: -5%;
        width: 25%;
    }

    footer .footer-flex .info .logo-footer {
        width: 197px;
        height: 55px;
    }

    footer .footer-flex .info p {
        width: 285px;
        letter-spacing: 1px;
    }

    footer .midias-sociais-footer {
        width: 200px;
    }

    footer .links-uteis {
        position: absolute;
        top: 0;
        left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        height: 255px;
    }

    footer .local {
        width: 25%;
        position: absolute;
        top: 0;
        right: 25%;
    }

    footer .newsletter {
        position: absolute;
        top: 0;
        right: -5%;
        height: 230px;
    }

    footer .newsletter form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    footer .newsletter .linha {
        width: 290px;
        height: 40px;
    }

    footer .newsletter input {
        width: 290px;
        height: 40px;
    }

    footer .newsletter button {
        width: 290px;
        height: 40px;
    }

    footer .copyrigth {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    footer .footer-flex .botao-topo {
        top: 0;
    }
}