@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Titillium-Web-Black';
    src: url(../../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: 'Titillium-Web-Bold';
    src: url(../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf)
}

@font-face {
    font-family: 'Quicksand';
    src: url(../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

a:hover {
    background-color: #F9AA01;
    color: black;
}

/* Classes genericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Menu hamburguer aparece */
.mostrar-menu {
    left: 0 !important;
}

/* Menu usuarios aparece */
.mostrar-menu-2 {
    right: 0 !important;
}

/* -----Mobile First----- */

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    background-color: #1B1426;
    height: 60px;
}



header .header-top {
    display: none;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;

    height: calc(100vh - 60px);
    /* 100% da altura da viewport, menos 60px do top */
    width: 80vw;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);

    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    transition: left .4s;
}

header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;

    border-bottom: 2px solid #F9AA01;
    color: white;

    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;

    gap: 20px;

    text-decoration: none;
}

header .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -66px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    width: 66px;
    height: 170px;

    transition: right 0.4s;
}

/* MAIN */
main {
    margin-top: 60px;
    background-image: url(../../assets/images/background-jogadores-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1231px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .cadastro {
    margin-top: 50px;
    width: 335px;
    height: 650px;
    border-radius: 8px;
    background-image: linear-gradient(rgba(27, 20, 38), rgba(60, 3, 65, .4));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .cadastro h1 {
    margin-top: 20px;
    font-family: 'Titillium-Web-Black';
    text-transform: uppercase;
    text-align: center;
    border-bottom: #F9AA01 2px solid;
    width: 248px;
}

main .cadastro form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.linha {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    width: 273px;
    height: 43px;
    border-radius: 8px;
    padding-left: 10px;
    backdrop-filter: blur(3px);
}

main .cadastro .linha input {
    width: 273px;
    height: 43px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}

main .cadastro .linha input::placeholder {
    color: white;
}

main .cadastro select  {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: none;
    outline: none;
}

main .cadastro select option {
    color: black;
    background-color: #F9AA01;
}

main .cadastro button {
    font-family: 'Titillium-Web-Bold';
    font-size: 24px;
    width: 277px;
    height: 43px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #F9AA01;
}


/* FOOTER */
footer {
    background-image: url(../../assets/images/backgroung_footer-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1529px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo-footer {
    width: 110px;
    height: 34px;
}

footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .info p {
    font-family: 'Quicksand';
    font-size: 14px;
    width: 333px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .midias-sociais-footer {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer .midias-sociais-footer a {
    text-decoration: none;
}

footer .links-uteis {
    width: 345px;
    height: 193px;
    margin-bottom: 60px;
    /* border: #F9AA01 3px solid; */
}

footer .links-uteis h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 148px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 30px;
}

footer .links-uteis span {
    color: #F9AA01;
    font-weight: bold;
}

footer .links-uteis a {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

footer .local {
    height: 272px;
    margin-bottom: 60px;
}

footer .local h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 117px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 10px;
}

footer .local h3 {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    color: #F9AA01;
}

footer .local p {
    font-family: 'Titillium-Web-Bold';
    font-size: 16px;
    padding-bottom: 20px;
}

footer .newsletter {
    margin-bottom: 50px;
}

footer .newsletter h1 {
    font-family: 'Titillium-Web-Black';
    font-size: 30px;
    width: 140px;
    border-bottom: #F9AA01 2px solid;
    margin-bottom: 30px;
}

footer form .linha {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    width: 333px;
    height: 43px;
    border-radius: 8px;
    padding-left: 10px;
    backdrop-filter: blur(3px);
    margin-bottom: 25px;
}

footer form input {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: transparent;
    border-radius: 8px;
    width: 333px;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

footer form input::placeholder {
    color: white;
}

footer form button {
    font-family: 'Titillium-Web-Bold';
    font-size: 24px;
    background-color: #F9AA01;
    border-radius: 8px;
    width: 333px;
    height: 40px;
}

footer .botao-topo {
    position: relative;
    right: -300px;
    top: 10px;
}

footer .copyrigth {
    font-family: 'Quicksand';
    font-size: 14px;
    width: 333px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}